.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background-color: antiquewhite;
    width: 10%;
    height: max-content;
    min-height: 25rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    gap: 2px;
    padding: 1rem;
    align-content: center;
    transition: transform 0.2s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}

.powerContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.types {
    gap: 1rem;
}

.img {
    width: 90px;
    height: 90px;
}

.lds_dual_ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds_dual_ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds_dual_ring 1.2s linear infinite;
  }
  @keyframes lds_dual_ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }