.container {
    display: flex;
    justify-content: center;
    gap: .3rem;
    
}

.button {
    width: 30px;
}

.button:hover {
    cursor: pointer;
}

.btn {
    border: solid;
    border-radius: 2rem;
}

input {
    border: solid;
    border-radius: 1rem;
}