.containerStats {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.containerLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}